*{
  box-sizing: border-box;
}
body {font-family: Arial, Helvetica, sans-serif;}
input, select, textarea{
  border: 1px solid black;
    border-radius: 5px;
    color: black;
    background: ghostwhite;
    padding-top: 2px;
    /* font-family: -webkit-pictograph; */
}
input:hover, select:hover{
  border-color: blue;
  cursor: pointer;
  opacity: 0.9;
  /* font-weight: bold; */
}