*{
  box-sizing: border-box;
}
.AddFitnessRoutine{
  border: 0px solid black;    
  text-align: left;    
}

.AddFitnessRoutine input[type="button"]{
  margin-left: 40%;  
}

div.AddFitnessRoutine label{
  font-weight: bold;  
}


