.AddOrUpdateCategory{
  border: 0px solid black;  
}

.AddOrUpdateCategory > .OverFlow{
  background-color: rgb(120, 206, 235);
  width: 25vw;
  height: 30vh;
  overflow: auto;
  margin-left: auto;  
  margin-right: auto;
  margin-top: 5px;
}

.AddOrUpdateCategory label{
  font-weight: bold;  
}
@media only screen and (max-width: 768px) {  
  .AddOrUpdateCategory > .OverFlow{
    width: 35vw;
    height: 30vh;
    overflow: auto;
  }

  .AddOrUpdateCategory input[type="text"]{        
    width: 90px;
  }

}