.AddOrUpdateCategory{
  border: 0px solid black;  
}

.AddOrUpdateCategory > .OverFlow{
  background-color: rgb(120, 206, 235);
  width: 13vw;
  height: 30vh;
  overflow: auto;
  margin-left: auto;  
  margin-right: auto;
  margin-top: 5px;
}

.AddOrUpdateCategory label{
  font-weight: bold;  
}
@media only screen and (max-width: 768px) {
  .AddOrUpdateCategory > .OverFlow{
    width: 30vw;
    height: 30vh;
  }

  .AddOrUpdateCategory input[type="text"]{    
    width:25vw;
  }

}