.dashboard{
  text-align: center;
}

.dashboard input{
  margin: 10px;
}

.container {
  display: flex;
  width: 100%;    
  flex-direction: row;
  /* justify-items: center; */
  justify-content: space-between;
  
}

.Records{
  float: left;  
}

.Graph{
  float: left;  
}