.dashboard{
  text-align: center;
}

.dashboard input{
  margin: 10px;
}

.container {
  display: flex;
  width: 100%;    
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  
}

.FitnessRoutine {
  grid-column: span 15;
  padding-right: 20px;
}

.Category {
  grid-column: span 15;  
  padding-right: 20px;
}

.Records{
  grid-column: span 8;
  float: left;  
}

.Graph{
  grid-column: span 18;
  float: left;  
}